---
layout: default
title: JUG Karlsruhe
description: Die Java User Group Karlsruhe bietet monatliche Vorträge für Studenten und Berufstätige an.
---

<br>
{% include speculation-rules-next-talk.html %}
{% include next-talks.html %}
<br>
<div class="card">
  <div class="card-header">
    Wilkommen
  </div>
   <div class="card-body">
   <div class="card-text">
     <p>Die Java User Group möchte Berufstätigen und Studenten im Raum Karlsruhe die Möglichkeit bieten sich in einem offenen Forum über fachliche Themen auszutauschen. Zu diesem Zweck finden regelmäßig Fachvorträge zu vielfältigen Themen rund um, aber nicht ausschließlich, Java statt.</p>

     <p>Für die Vorträge stehen uns Hörsäle an der Hochschule Karlsruhe zur Verfügung, wir veranstalten jedoch auch Vorträge bei unterschiedlichen Firmen in Karlsruhe.</p>

     <p>Die Vorträge sind kostenlos und können von jedem besucht werden.</p>

     <p>Wer selbst einmal als Referent einen Vortrag zu einem interessanten Thema halten möchte kann sich gerne mit uns in Verbindung setzen.</p>
   </div>
 </div>
</div>

<br>
{% include news.html %}
