<div class="container-fluid">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <picture>
            <source type="image/avif	" srcset="{{ site.baseurl }}/assets/img/banner.avif">
            <source type="image/webp	" srcset="{{ site.baseurl }}/assets/img/banner.webp">
            <img class="img-fluid" src="{{ site.baseurl }}/assets/img/banner.png" alt="Logo der Java User Group Karlsruhe. Auf dem Bild ist der Java Duke zu sehen und im Hintergrund die Fächerstadt Karlsruhe.">
          </picture>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
<br>
