<div class="panel panel-default">
<div class="panel-heading">
<h3 class="panel-title">Info</h3>
</div>
<div class="panel-body">
<a href="http://microservices-summit.de/" ><img class="img-responsive" src="{{ site.baseurl }}/assets/img/banner/microservices-summit-2016_140x140.jpg" alt="Microservices Summit 2016" title="Microservices Summit 2016"></a>
<br />
<a href="http://javaenterprisesummit.de/" ><img class="img-responsive" src="{{ site.baseurl }}/assets/img/banner/java-enterprise-summit-2016_140x140.jpg" alt="Java Enterprise Summit 2016" title="Java Enterprise Summit 2016"></a>
</div>
</div>