<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Info</h3>
    </div>

    <div class="panel-body">
        <a href="https://api-summit.de/" ><img class="img-responsive" src="{{ site.baseurl }}/assets/img/banner/api-summit-2017_140x140.png" alt="API Summit 2017"></a>
    </div>
    <div class="panel-body">
        <a href="https://microservices-summit.de/" ><img class="img-responsive" src="{{ site.baseurl }}/assets/img/banner/microservices-summit-2017_140x140.jpg" alt="Microservices Summit 2017"></a>
    </div>

</div>
