<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Info</h3>
    </div>

     <div class="panel-body">
        <a href="http://jvm-con.de"><img class="img-responsive" src="{{ site.baseurl }}/assets/img/banner/jvm-con.png" alt="JVM Con"></a>
    </div>

     <div class="panel-body">
        <a href="https://www.javaland.eu"><img class="img-responsive" src="{{ site.baseurl }}/assets/img/partner/logo_javaland.gif" alt="Javaland"></a>
    </div>

</div>
