
{% assign location = site.data.locations[page.location] %}
{% if location != null %}
<h4>Location</h4>

<div id="map" style="width: 400px; height: 400px"></div>
<script>

    var map = L.map('map').setView([{{ location.latitude }}, {{ location.longitude }}], 17);

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      maxZoom: 18,
      attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
        '<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>,'
    }).addTo(map);

    L.marker([{{ location.latitude }}, {{ location.longitude }}]).addTo(map);
</script>
<br>
<address>
<p>
{{ location.name }}{% if defined?(location.room) %} , Raumnummer: {{ location.room }} {% endif %} 
<br>
{{ location.address }} <br>
{{ location.postcode }}
</p>
</address>
{% endif %} 