<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Unterstützer & Sponsoren</h3>
	</div>
	<div class="panel-body">
		<div class="sponsor">
			<a href="https://www.netpioneer.de">
			<img class="img-responsive" src="{{ site.baseurl }}/assets/img/support/netpioneer.png"></a>
		</div>
		<div class="sponsor">
			<a href="https://synyx.de">
			<img class="img-responsive" src="{{ site.baseurl }}/assets/img/support/synyx.png"></a>
		</div>
		<div class="sponsor">
		<a href="https://unic.de">
			<img class="img-responsive" src="{{ site.baseurl }}/assets/img/support/unic-logo.jpg"></a>
		</div>
	</div>
</div>
