<div class="card border-0">
   <div class="card-body">
   <div class="card-title"><b>Supported by</b></div>
	 <div class="sponsorwall">
	 		<div class="sponsor">
	 			<a href="https://www.diva-e.com">
	 			<img alt="diva-e Logo" class="img-responsive" width="150" src="{{ site.baseurl }}/assets/img/support/diva-e.svg"></a>
	 		</div>
	 		<div class="sponsor">
	 			<a href="https://synyx.de">
	 			<img alt="Synyx Logo" class="img-responsive" width="150" src="{{ site.baseurl }}/assets/img/support/synyx-logo.svg"></a>
	 		</div>
	 		<div class="sponsor">
	 			<a href="https://www.etecture.de">
	 				<img alt="Etecture Logo" class="img-responsive" width="150" src="{{ site.baseurl }}/assets/img/support/etecture.svg"></a>
	 		</div>
	 		<div class="sponsor">
	 		<a href="https://disy.net">
	 			<img alt="Disy Logo" class="img-responsive" width="150" src="{{ site.baseurl }}/assets/img/support/logo-disy.svg"></a>
	 		</div>
	  </div>
	</div>
