---
layout: default
---
{% include leaflet.html %}
<h1>{{ page.title }}</h1>

    <div class="row">
        <div class="col-md-2"><strong>Datum:</strong></div>
        <div class="col-md-6">{{ page.date | date: "%d.%m.%Y, %R" }}</div>
    </div>
{% if page.registration and page.date > site.time %}
    <div class="row">
        <div class="col-md-2"><strong>Anmeldung:</strong></div>
        <div class="col-md-6"><a href="{{ page.registration }}">{{ page.registration }}</a></div>
    </div>
{% endif %}
{% if page.slides %}
    <div class="row">
        <div class="col-md-2"><strong>Slides:</strong></div>
        <div class="col-md-6">
            <a href="{{ page.slides.url }}">{{ page.slides.name }}</a>
        {% if page.slides.name2 %}
            <br />
            <a href="{{ page.slides.url2 }}">{{ page.slides.name2 }}</a>
        {% endif %}
        </div>
    </div>
{% endif %}
{% if page.parleys %}
    <div class="row">
        <div class="col-md-2"><strong>Aufzeichnung:</strong></div>
        <div class="col-md-6">
            <a href="{{ page.parleys }}">Parleys</a>
            <a href="{{ page.parleys }}"><img src="{{ site.baseurl }}/assets/img/icon/parleys.png"/></a>
        </div>
    </div>
{% endif %}
{% if page.youtube %}
    <div class="row">
        <div class="col-md-2"><strong>Aufzeichnung:</strong></div>
        <div class="col-md-6">
            <a href="{{ page.youtube }}">Youtube</a>
            <a href="{{ page.youtube }}"><img alt="Youtube Icon" src="{{ site.baseurl }}/assets/img/icon/youtube.png"></a>
        </div>
    </div>
{% endif %}
{% if page.links %}
{% for link in page.links %}
    <div class="row">
        <div class="col-md-2"><strong>Link:</strong></div>
        <div class="col-md-6"><a href="{{ link }}" target="_blank" rel="noopener noreferrer">{{ link }}</a></div>
    </div>
{% endfor %}
{% endif %}

{% if content == "" or content == nil or content == blank %}
    <br>
    <p>Für diese Veranstaltung gibt es leider keine Beschreibung.</p>
{% else %}
    <br>
    {{ content }}
{% endif %}

{% include speaker.html %}
{% include map.html %}
