---
layout: default
---
<h1>{{ page.title }}</h1>

{% if page.slides %}
<p>
Slides: <a href="{{ page.slides }}">{{ page.slides }}</a>
</p>
{% endif %}

{% if page.links %}
<p>
Links:
 <ul>
	{% for link in page.links %}
	<li><a href="{{ link }}">{{ link }}</a></li>
	{% endfor %}
</ul>
</p>
{% endif %}

{% if content == "" or content == nil or content == blank %}
	<p>Für diese Veranstaltung gibt es leider keine Beschreibung.</p>
{% else %}
	<p>{{ content }}</p>
{% endif %}

{% include speaker.html %}
{% include map.html %}

