---
layout: default
---

<h4>Hall of Fame</h4>
{% assign hallOfFame = page.['hallOfFame'] %}

<table class="table hover">
<thead>
<tr>
<th>#</th>
<th>Speaker</th>
<th>Talks</th> 
</tr>
</thead>
<tbody> 

{% for speaker in hallOfFame %}

{% assign speakerShortName = speaker[0] %}
{% assign numberOfTalks = speaker[1] %}

{% assign speakerName = site.data.speakers[speakerShortName].name %}

  <tr>
    <th scope="row">{{ forloop.index }}</th>
    <td><a href="{{ site.baseurl }}/speakers/{{ speakerShortName }}">{{ speakerName }}</a></td>
    <td>{{ numberOfTalks }}</td> 
  </tr>

{% endfor %}
</ul>

</tbody> 
</table>